@import url("https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap");

@media all {
    .main-controls__select-all-button {
        background: url("icons/select-all.png") no-repeat center;
    }

    .task-item__delete-button {
        background: url("icons/close.png") no-repeat center;
    }

    .task-item__status:checked + .task-item__checkbox-label {
        background: url("icons/completed.png") no-repeat center;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .main-controls__select-all-button {
        background: url("icons/select-all@2x.png") no-repeat center;
    }

    .task-item__delete-button {
        background: url("icons/close@2x.png") no-repeat center;
    }

    .task-item__status:checked + .task-item__checkbox-label {
        background: url("icons/completed@2x.png") no-repeat center;
    }
}

body {
    background-color: #f5f5f5;
    font-family: "Roboto", "Arial", sans-serif;
    color: #cccccc;
    display: flex;
    justify-content: center;
    min-width: 562px;
}

.todo-app {
    width: 562px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__header-title {
    color: #cccccc;
    font-weight: 100;
    font-size: 100px;
    margin: 0;
}

.todo-app__frame-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app__frame {
    height: 400px;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.todo-app__frame-cover::before {
    width: 556px;
    height: 6px;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    content: "";
    order: 2;
    position: relative;
    z-index: 1;
}

.todo-app__frame-cover::after {
    width: 552px;
    height: 5px;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    content: "";
    order: 3;
    position: relative;
    z-index: 0;
}

.todo-app__main-controls {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 2px #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.main-controls__create-new-task {
    display: flex;
    flex: 1;
    height: 100%;
    justify-items: center;
}

.main-controls__select-all-button {
    height: 64px;
    width: 64px;
    background-size: 24px 12px;
    border: none;
    padding: 0;
    margin-right: 4px;
}

.main-controls__input-field-create-new {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    border: none;
    flex: 1;
}

.main-controls__input-field-create-new::placeholder {
    color: #cccccc;
    font-style: italic;
}

.todo-app__tasks {
    flex-grow: 1;
    overflow: auto;
    color: #666666;
}

.todo-app__task-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.task-item__checkbox-view {
    display: flex;
    align-content: space-between;
    min-height: 64px;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
}

.todo-app__task-item {
    border-bottom: 1px solid #e6e6e6;
}

.todo-app__task-item:hover {
    background: #fafafa;
}

.todo-app__task-item:hover .task-item__delete-button {
    opacity: 1;
}

.task-item__status {
    opacity: 0;
}

.task-item__checkbox {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.task-item__checkbox-label {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 99px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-sizing: content-box;
    text-indent: -9999px;
}

.task-item__status:focus + .task-item__checkbox-label {
    border: 1px solid #8ac2c2;
}

.task-item__status:hover + .task-item__checkbox-label {
    border: 1px solid #8ac2c2;
}

.task-item__status:checked + .task-item__checkbox-label {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 99px;
    border: 1px solid #5dc2af;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    background-size: 20px 20px;
}

.task-item__task-list-text {
    flex-grow: 1;
    word-break: break-all;
    font-size: 24px;
}

.task-item__delete-button {
    opacity: 0;
    background-size: 18px 18px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    flex-shrink: 0;
}

.task-item__delete-button:focus {
    opacity: 1;
}

.todo-app__action-bar {
    width: 562px;
    height: 43px;
    box-shadow: inset 0 1px 0 #e6e6e6;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #888888;
    position: sticky;
    bottom: 0;
    background: white;
    flex-shrink: 0;
}

.action-bar__task-counter {
    margin-right: 14px;
}

.todo-app__action-bar-button {
    padding: 4px 8px 4px 8px;
}

.todo-app__action-bar-button:hover {
    background: #f5f5f5;
    border-radius: 3px;
}

.action-bar__task-filter-input {
    position: absolute;
    left: -9999px;
}

.action-bar-item__task-filter-text {
    border: 1px solid transparent;
    border-radius: 3px;
}

.action-bar__task-filter-input:checked + .action-bar-item__task-filter-text {
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.action-bar__task-filter-input:focus + .action-bar-item__task-filter-text {
    border: 1px solid #8ac2c2;
    border-radius: 3px;
}

.action-bar-item__clear-completed {
    background: none;
    border: none;
    font-family: Roboto, serif;
    font-size: 14px;
    color: #888888;
}

.action-bar-item__clear-completed:active {
    border: none;
}
